// ==========================================================================
// Block
// ==========================================================================

.btn {
  @include inlineblock;
  @include color(transparent, $WHITE);
  @include opensans(bold);

  padding: 14px 35px 20px;

  cursor: pointer;
  transition: background-color .3s, color .3s;
  text-align: center;
  text-decoration: none;

  border: 3px solid $WHITE;
  border-radius: 27px;
  outline: none;

  font-size: 18px;
  line-height: 18px;

  &:hover {
    @include color($WHITE, $red);
  }

  &:active {
    @include color($WHITE, rgba($red, .3));
  }
}

// ==========================================================================
// Elements
// ==========================================================================


// ==========================================================================
// Modifiers
// ==========================================================================

.btn--red {
  color: $red;
  border-color: $red;

  &:hover {
    @include color($red, $WHITE);
  }

  &:active {
    @include color($red, rgba($WHITE, .3));
  }
}

.btn--grey {
  color: rgba($BLACK, .1);
  border-color: rgba($BLACK, .1);

  &:hover {
    color: rgba($BLACK, .3);
    border-color: rgba($BLACK, .3);
    background: transparent;
  }

  &:active {
    @include color(rgba($BLACK, .3), rgba($WHITE, .3));

    border-color: transparent;
  }
}

.btn--green {
  @include color($green, $WHITE);
  @include tablet {
    padding: 21px 60px 23px;
  }
  @include desktop {
  }

  padding: 21px 35px 23px;

  text-transform: uppercase;

  border: none;
  border-radius: 3px;

  &:hover {
    @include color($green-hvr, $WHITE);
  }

  &:active {
    @include color($green-hvr, rgba($WHITE, .3));
  }
}

.btn--block {
  width: 100%;
}
