// ==========================================================================
// Block
// ==========================================================================

.contacts {
  background-color: $WHITE;
  position: relative;
  z-index: 1;
  // margin-bottom: -221px;
}

// ==========================================================================
// Elements
// ==========================================================================

.contacts__wrapper {
  @include container;
  padding: 42px 0 28px;

  @include tablet {
    padding: 46px 0 0;
  }

  @include desktop {
    padding: 64px 0 0;
  }
}

.contacts__title {

}

.contacts__heading {
  margin-bottom: 27px;

  @include tablet {
    margin-bottom: 36px;
  }

  @include desktop {
    margin-bottom: 45px;
  }
}

.contacts__heading  .heading {
  margin: 0;
}

.contacts__list {
  text-align: center;
  font-size: 0;

  @include desktop {
    display: flex;
  }
}

.contacts__group {
  margin-bottom: 12px;

  @include tablet {
    @include inlineblock;
    width: 50%;
    margin-bottom: 38px;
  }

  @include desktop {
    width: 33.33%;
  }
}

.contacts__group--phone {

  @include desktop {
    order: 1;
  }
}

.contacts__group--mail {

  @include desktop {
    order: 3;
  }
}

.contacts__group--address {

  @include desktop {
    order: 2;
  }
}

.contacts__group-title {
  @include opensans(bold);
  font-size: 18px;
  line-height: 30px;

  @include tablet {
    // margin-bottom: 10px;
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.contacts__group-link,
.contacts__group-text{
  @include opensans(light);
  font-size: 24px;
  line-height: 30px;
  color: $red;
}

.contacts__group-link {
  text-decoration: none;
  cursor: pointer;
}

// ==========================================================================
// Modifiers
// ==========================================================================
