// ==========================================================================
// Block
// ==========================================================================

.contacts {
  background-color: $WHITE;
  position: relative;
  z-index: 1;
  // margin-bottom: -221px;
}

// ==========================================================================
// Elements
// ==========================================================================

.contacts__wrapper {
  @include container;
  padding: 45px 0 40px;

  @include tablet {
    padding: 55px 0 30px;
  }

  @include desktop {
    padding: 75px 0 25px;
  }
}

.contacts__title {

}

.contacts__heading {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 50px;
  }

  @include desktop {
    margin-bottom: 70px;
  }
}

.contacts__heading  .heading {
  margin: 0;
}

.contacts__list {
  text-align: center;
  font-size: 0;
}

.contacts__group {
  margin-bottom: 25px;

  @include tablet {
    @include inlineblock;
    width: 50%;
    margin-bottom: 70px;
  }

  @include desktop {
    width: 33.33%;
  }
}

.contacts__group-title {
  @include opensans(bold);
  font-size: 18px;
  line-height: 30px;

  @include tablet {
    margin-bottom: 10px;
  }

  @include desktop {
    margin-bottom: 30px;
  }
}

.contacts__group-link,
.contacts__group-text{
  @include opensans(light);
  font-size: 24px;
  line-height: 30px;
  color: $red;
}

.contacts__group-link {
  text-decoration: none;
  cursor: pointer;
}

// ==========================================================================
// Modifiers
// ==========================================================================
