// ==========================================================================
// Block
// ==========================================================================

.download {
  @include color($blue-dark, $WHITE);
  @include tablet {
    position: relative;
    bottom: 0;

    margin: 0;
    padding: 0;
    padding: 90px 0 91px;

    background-color: transparent;
  }
  @include desktop {
    padding: 100px 0 103px;
  }

  position: absolute;
  z-index: 5;
  bottom: -271px;

  width: 100%;
  padding: 30px 20px 16px;
}

// ==========================================================================
// Elements
// ==========================================================================



.download__wrapper {
  @include tablet {
    margin-left: 40px;
  }
  @include desktop {
    @include container;
  }
}

.download__container {
  @include tablet {
    width: 300px;
    margin: 0;
  }

  width: 280px;
  margin: 0 auto;
}

.download__container .btn {
  @include tablet {
    margin-bottom: 20px;
  }
  @include desktop {
    margin-bottom: 40px;
  }

  margin-bottom: 8px;
}

.download .heading {
  @include tablet {
    display: block;

    margin-bottom: 27px;
    padding: 0 40px;

    text-align: center;
  }
  @include desktop {
    margin-bottom: 39px;
  }

  display: none;

  color: $WHITE;
}

.download__list {
  @include tablet {
    margin-bottom: 36px;
  }
  @include desktop {
    margin-bottom: 56px;
  }

  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  list-style: none;

  text-align: center;

  font-size: 0;
}

.download__item {
  @include inlineblock(middle);

  margin-right: 30px;
}

.download__text {
  @include opensans(light);
  @include tablet {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }

  text-align: center;

  font-size: inherit;
  line-height: inherit;
}

// ==========================================================================
// Modifiers
// ==========================================================================
