// ==========================================================================
// Block
// ==========================================================================

.editor {
  @include color($grey, $WHITE);
  position: relative;
  padding: 20px 0 40px;

  &::before {
    content: "";
    position: absolute;
    top: 550px;
    left: 0;
    width: 100%;
    border: 1px solid $grey-border;

    @include tablet {
      display: none;
    }

  }

  @include tablet {
    padding: 60px 0;
  }

  @include desktop {
    background-color: $WHITE;
  }
}

// ==========================================================================
// Elements
// ==========================================================================

.editor__title {


}

.editor__wrapper {
  @include container;
  @include clearfix;

  @include desktop {
      background-color: $grey;
      padding: 60px 70px;
    }

}

// .editor__top {
//   margin-bottom: 40px;

//   @include tablet {
//     @include clearfix;
//   }

//   @include desktop {

//   }

// }

.editor__wrapper .range {
  margin-bottom: 40px;

  @include tablet {
    display: none;
    margin: 0;

  }

  @include desktop {

  }
}
.editor__image {
  width: 280px;
  height: 374px;
  background-color: $blue-dark;
  margin-bottom: 40px;

  @include tablet {
    float: left;
    width: 300px;
    height: 400px;
    margin-right: 45px;
  }

  @include desktop {
    margin-right: 90px;
  }
}

.editor__tools {
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  margin-bottom: 20px;

  @include tablet {
    float: left;
    width: 275px;
  }

  @include desktop {
    width: 410px;
  }
}

.editor__tool {
  @include inlineblock(middle);
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    display: block;
    margin: 0;
    padding: 12px 20px 10px 0;
    border-bottom: 1px solid $grey-border;
  }

  @include desktop {
    margin-right: 45px;
  }
}

.editor__tool img {

  @include tablet {
    @include inlineblock(middle);
    margin-right: 5px;
  }

  @include desktop {

  }
}

.editor__tool .range {
  display: none;

  @include tablet {
    @include inlineblock(middle);
  }

  @include desktop {

  }
}

.editor__buttons {
  padding: 40px 0;

  @include tablet {
    float: left;
    // @include inlineblock;
    width: 265px;
  }

  @include desktop {
    width: 410px;
  }
}

.editor__buttons .btn--red {
  margin-bottom: 10px;

  @include desktop {
    margin-right: 10px;
  }
}

.editor__buttons .btn--red,
.editor__buttons .btn--grey{
  width: 183px;

}

// ==========================================================================
// Modifiers
// ==========================================================================

// .editor__tool--crop {
//   width: 44px;
//   height: 44px;
//   background: url("../img/icon-editor-crop.svg") 0 0 no-repeat;
// }

// .editor__tool--fill {
//   width: 48px;
//   height: 43px;
//   background: url("../img/icon-editor-fill.svg") 0 0 no-repeat;
// }

// .editor__tool--contrast {
//   width: 32px;
//   height: 32px;
//   background: url("../img/icon-editor-contrast.svg") 0 0 no-repeat;
// }
