// ==========================================================================
// Block
// ==========================================================================

.editor {
  @include color($grey, $WHITE);
  @include tablet {
    padding: 60px 0 6px;
  }
  @include desktop {
    margin-bottom: 55px;

    background-color: $WHITE;
  }

  position: relative;

  padding: 20px 0 37px;

  &::before {
    @include tablet {
      display: none;
    }

    position: absolute;
    top: 555px;
    left: 0;

    width: 100%;

    content: "";

    border: 1px solid $grey-border;
  }
}

// ==========================================================================
// Elements
// ==========================================================================



.editor__wrapper {
  @include container;
  @include clearfix;
  @include desktop {
    padding: 57px 5px 12px 80px;

    background-color: $grey;
  }
}

.editor__wrapper .range {
  @include tablet {
    display: none;

    margin: 0;
  }
  @include desktop {
  }

  margin-bottom: 40px;
}

.editor__image {
  @include tablet {
    float: left;

    width: 300px;
    height: 400px;
    margin-right: 45px;
  }
  @include desktop {
    margin-right: 90px;
  }

  width: 280px;
  height: 374px;
  margin-bottom: 45px;

  background-color: $blue-dark;
}

.editor__tools {
  @include tablet {
    float: left;

    width: 275px;

    text-align: right;
  }
  @include desktop {
    width: 410px;
    margin-bottom: 100px;
  }

  margin: 0 auto;
  margin-bottom: 25px;

  text-align: center;

  font-size: 0;
}

.editor__tool {
  @include inlineblock(middle);
  @include tablet {
    display: block;

    margin: 0;
    margin-bottom: 28px;
    padding: 7px 9px 10px 0;

    border-bottom: 1px solid $grey-border;
  }
  @include desktop {
    margin-bottom: 10px;
    padding: 0 0 10px 0;

    text-align: left;
  }

  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.editor__tool--crop svg {
  @include tablet {
    width: 22px;
    height: 22px;
  }
  @include desktop {
    width: 44px;
    height: auto;
  }

  width: 44px;
  height: auto;
}

.editor__tool--fill svg {
  @include tablet {
    width: 24px;
    height: 22px;
  }
  @include desktop {
    width: 48px;
    height: auto;
  }

  width: 48px;
  height: auto;
}

.editor__tool--contrast svg {
  @include tablet {
    width: 16px;
    height: 16px;
  }
  @include desktop {
    width: 32px;
    height: auto;
  }

  width: 32px;
  height: auto;
}

.editor__tool--contrast {
  @include desktop {
    padding: 10px 0 20px;
  }
}

.editor__tool--crop .range__toggle {
  left: 150px;
}

.editor__tool--fill .range__toggle {
  left: 20px;
}

.editor__tool--contrast .range__toggle {
  left: 100px;
}

.editor__tool svg {
  @include tablet {
    @include inlineblock(middle);

    margin-right: 30px;
  }
  @include desktop {
    margin-right: 51px;
  }

  cursor: pointer;

  opacity: .3;

  fill: $BLACK;

  &:hover {
    opacity: .5;

    fill: $BLACK;
  }

  &:active {
    opacity: 1;

    fill: $red;
  }
}

.editor__tool--contrast svg {
  @include tablet {
    margin-right: 32px;
  }
  @include desktop {
    margin-right: 65px;
  }
}

.editor__tool .range {
  @include tablet {
    @include inlineblock(middle);
  }
  @include desktop {
  }

  display: none;
}

.editor__buttons {
  @include tablet {
    float: left;

    width: 265px;
  }
  @include desktop {
    width: 410px;
  }

  padding: 33px 0 0;
}

.editor__buttons .btn--red {
  @include tablet {
    margin-bottom: 20px;
  }
  @include desktop {
    margin-right: 40px;
  }

  margin-bottom: 10px;
}

.editor__buttons .btn--red,
.editor__buttons .btn--grey {
  @include desktop {
    width: 183px;
  }
}

// ==========================================================================
// Modifiers
// ==========================================================================
