// ==========================================================================
// Block
// ==========================================================================

.effect {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    background-color: $grey;
  }
}

// ==========================================================================
// Elements
// ==========================================================================

.effect__wrapper {
  @include container;
}

.effect__title {

}

.effect__content {
  text-align: left;
  padding: 100px 0 120px 310px;

  @include desktop {
    padding-left: 370px;
  }
}

.effect__heading {
  @include opensans(bold);
  font-size: 30px;
  line-height: 36px;

  @include desktop {
    @include opensans;
  }
}

.effect__text {
  font: inherit;
  font-size: inherit;
  line-height: inherit;

  @include desktop {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  font-size: 14px;
  line-height: 24px;
  color: $red;

  @include desktop {
    font-size: 18px;
    line-height: 30px;
  }
}


// ==========================================================================
// Modifiers
// ==========================================================================
