// ==========================================================================
// Block
// ==========================================================================

.effect {
  @include tablet {
    display: block;
  }
  @include desktop {
    background-color: $grey;
  }

  display: none;
}

// ==========================================================================
// Elements
// ==========================================================================

.effect__wrapper {
  @include container;
}

.effect__content {
  @include tablet {
    background: url("../img/icon-timer.svg") 2% 60px no-repeat;
    background-size: 238px 276px;
  }
  @include desktop {
    padding-bottom: 111px;
    padding-left: 370px;

    background-position: 1% 4px;
    background-size: 298px 345px;
  }

  padding: 66px 0 120px 317px;

  text-align: left;
}

.effect__heading {
  @include opensans(bold);
  @include desktop {
    @include opensans;
  }

  margin-bottom: 10px;

  font-size: 30px;
  line-height: 36px;
}

.effect__heading br {
  @include desktop {
    display: none;
  }
}

.effect__text {
  @include desktop {
    margin-bottom: 35px;

    font-size: 18px;
    line-height: 30px;
  }

  margin-bottom: 7px;

  font: inherit;
  font-size: inherit;
  line-height: inherit;
}

.effect__link {
  @include desktop {
    font-size: 18px;
    line-height: 30px;
  }

  color: $red;

  font-size: 14px;
  line-height: 24px;
}


// ==========================================================================
// Modifiers
// ==========================================================================
