// ==========================================================================
// Block
// ==========================================================================

.flag {
  position: absolute;
}

.flag {

}
v
// ==========================================================================
// Elements
// ==========================================================================


// ==========================================================================
// Modifiers
// ==========================================================================
.flag--profit {

}

.flag--photo {
  @include color($red, $WHITE);
  @include opensans(bold);
  left: 50%;
  top: 0;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 7px 20px 6px;

  @include tablet {
    top: 57px;
    margin-left: 178px;
  }

  @include desktop {
    margin-left: 338px;
  }
}
