// ==========================================================================
// Block
// ==========================================================================

.flag {
  position: absolute;
}

// ==========================================================================
// Elements
// ==========================================================================


// ==========================================================================
// Modifiers
// ==========================================================================
.flag--profit {
  @include tablet {
    background: url("../img/bg-hit-tablet.svg") 0 0 no-repeat;
  }
  @include desktop {
  }

  top: 0;
  left: 0;

  width: 74px;
  height: 73px;

  background: url("../img/bg-hit.svg") 0 0 no-repeat;

  font-size: 0;
}

.flag--profit span {
  @include opensans;
  @include tablet {
    top: 5px;
    left: 8px;
  }
  @include desktop {
  }

  position: absolute;
  top: 11px;
  left: 14px;

  transform: rotate(-45deg);
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}

.flag--photo {
  @include color($red, $WHITE);
  @include opensans(bold);
  @include tablet {
    top: 57px;

    margin-left: 178px;
  }
  @include desktop {
    margin-left: 338px;
  }

  top: 0;
  left: 50%;

  padding: 7px 20px 6px;

  text-transform: uppercase;

  font-size: 12px;
  line-height: 24px;
}
