// ==========================================================================
// Block
// ==========================================================================

.page .footer-main {
  @include clearfix;
  @include tablet {
    display: block;
  }

  display: none;
}

.footer-main {
  @include container;
  @include desktop {
    padding: 70px 0 85px;
  }

  padding: 35px 0;
}

.page--inner .footer-main {
  display: block;

  padding: 40px 0;
}

// ==========================================================================
// Elements
// ==========================================================================

.footer-main__logo {
  @include tablet {
    margin-right: 19px;
  }
  @include desktop {
    margin-right: 30px;
  }

  float: left;

  width: 150px;
}

.footer-main__logo-link {
  display: block;

  cursor: pointer;
  text-decoration: none;

  &:hover .footer-main__logo-text {
    fill: $red;
  }

  &:active {
    opacity: .3;
  }
}

.footer-main__logo-tablet {
  @include desktop {
    display: none;
  }
}

.footer-main__logo-desktop {
  @include desktop {
    display: block;
  }

  display: none;
}

.footer-main__logo-text {
  fill: $BLACK;
}

.page--inner .footer-main__logo {
  @include tablet {
    float: left;

    width: 170px;
    margin-bottom: 0;
  }
  @include desktop {
  }

  float: none;

  margin: 0 auto;
  margin-bottom: 35px;
}

.footer-main__socials {
  @include desktop {
    width: 600px;
  }

  float: left;

  width: 310px;

  text-align: center;

  font-size: 0;
}

.page--inner .footer-main__socials {
  @include tablet {
    float: left;

    width: 310px;
    margin-bottom: 0;

    text-align: center;

    font-size: 0;
  }
  @include desktop {
    width: 610px;
  }

  float: none;

  width: 200px;
  margin: 0 auto;
  margin-bottom: 38px;
}

.footer-main__copy {
  float: right;

  max-width: 160px;
}

.footer-main__copy-link {
  display: block;

  cursor: pointer;
  text-decoration: none;

  &:hover svg {
    fill: $BLACK;
  }

  &:active {
    opacity: .3;
  }
}

.footer-main__copy {
  @include desktop {
    font-size: 18px;
    line-height: 18px;
  }

  margin-top: 10px;

  font: inherit;
  font-size: inherit;
  line-height: 14px;
}

.footer-main__copy span {
  @include inlineblock(middle);
  @include desktop {
    margin-right: 10px;
  }

  margin-right: 15px;

  color: $BLACK;
}

.footer-main__copy svg {
  @include inlineblock(middle);

  fill: $red;
}

.footer-main__copy img {
  @include inlineblock(middle);
}

.page--inner .footer-main__copy {
  @include tablet {
    float: right;

    max-width: 160px;
    margin-top: 10px;
  }
  @include desktop {
  }

  float: none;

  margin: 0 auto;
}

// ==========================================================================
// Modifiers
// ==========================================================================
