// ==========================================================================
// Block
// ==========================================================================

.form-group {
  @include tablet {
    padding: 0;
  }

  padding: 40px 0;

  border: none;
}

// ==========================================================================
// Elements
// ==========================================================================

.form-group--name-data {
  @include tablet {
  }
  @include desktop {
    width: 470px;
  }

  order: 1;
}

.form-group--goals-data {
  @include tablet {
    order: 4;
  }
  @include desktop {
    width: 100%;
  }

  order: 2;
}

.form-group--contacts-data {
  @include desktop {
    width: 100%;
  }

  order: 3;
}

.form-group--app-data {
  @include tablet {
    order: 2;
  }

  order: 4;
}

.form-group--feel-data {
  @include desktop {
    width: 100%;
  }

  order: 5;
}

.form-group--btn-data {
  @include desktop {
    width: 100%;
  }

  order: 6;
}

.form-group__wrapper {
  @include container;
  @include tablet {
    position: relative;

    margin-bottom: 40px;
    padding: 45px 60px 50px;

    border: 2px solid $grey-dark;
  }
  @include desktop {
    width: auto;
  }
}

.form-group__heading {
  @include tablet {
    position: absolute;
    top: -10px;
    left: 50%;

    margin-bottom: 0;
    padding: 0 10px;

    transform: translateX(-50%);

    background-color: $WHITE;
  }

  margin: 0 auto;
  margin-bottom: 40px;

  text-align: center;
  text-transform: uppercase;

  color: $red;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
}

.form-group__inner {
  @include tablet {
    @include inlineblock(middle);

    margin-bottom: 35px;
  }
  @include desktop {
  }

  position: relative;
}

.form-group__inner .form-group__input {
  width: 100%;
}

.form-group__label {
  @include tablet {
    @include inlineblock(middle);

    margin-right: 16px;
    margin-bottom: 17px;
    padding-left: 7px;
  }

  position: relative;

  display: block;

  margin-bottom: 5px;
  padding-left: 20px;

  cursor: pointer;
  text-align: left;
  text-transform: uppercase;

  color: $red;

  font: inherit;
  font-size: 14px;
  line-height: 30px;
}

.form-group__label[for="surname-field"] {
  @include tablet {
    margin-bottom: 48px;
  }
  @include desktop {
    padding: 0;
  }
}

.form-group__label[for="name-field"] {
  @include tablet {
    margin-bottom: 48px;
  }
  @include desktop {
    padding: 0;
  }
}

.form-group__label[for="middle-name-field"] {
  @include desktop {
    padding: 0;
  }
}

.form-group__label[for="name-field"] + .form-group__inner {
  @include tablet {
    width: 555px;
  }
  @include desktop {
    width: auto;
  }
}

.form-group--goals-data {
  @include tablet {
    padding-top: 37px;
  }

  padding: 0;
  padding-top: 40px;
  padding-bottom: 8px;
}

.form-group--goals-data .form-group__heading br {
  @include tablet {
    display: none;
  }
}

.form-group--goals-data .form-group__label {
  @include tablet {
    display: block;
  }
}

.form-group--goals-data .form-group__wrapper {
  @include tablet {
    margin-bottom: 10px;
    padding: 51px 60px 25px;
  }
  @include desktop {
    display: flex;
    flex-direction: row;

    padding-right: 0;

    flex-wrap: wrap;
  }
}

.form-group--goals-data .form-group__label::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 39px;
  height: 39px;

  content: "";

  border: 2px solid #e5e5e5;
}

.form-group--goals-data .form-group__label:hover::before {
  border-color: $BLACK;
}

.form-group--goals-data .form-group__label:active::before {
  border-color: $red;
}

.form-group__label[for="selfie-field"] {
  @include desktop {
    order: 2;
  }
}

.form-group__label[for="beach-field"] {
  @include desktop {
    order: 5;
  }
}

.form-group__label[for="CHUCK-NORRIS-field"] {
  @include desktop {
    order: 3;
  }
}

.form-group__label[for="souvenir-field"] {
  @include desktop {
    order: 6;
  }
}

.form-group__label[for="tower-field"] {
  @include desktop {
    order: 4;
  }
}

.form-group__label[for="hotel-field"] {
  @include desktop {
    order: 7;
  }
}

.form-group__input {
  @include color;
  @include opensans;
  @include tablet {
    @include inlineblock(middle);

    margin-bottom: 20px;
  }

  display: block;

  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  padding-left: 20px;

  cursor: pointer;

  border: 2px solid $grey-dark;
  outline: none;

  font-size: 18px;
  line-height: 30px;

  &:hover {
    border-color: $BLACK;
  }

  &:focus {
    border-color: $red;
  }
}

.form-group__input::-webkit-input-placeholder {
  color: $BLACK;
}

.form-group__flag {
  position: absolute;
  top: -8px;
  left: 190px;

  font-size: 0;
}

.form-group__flag--required::after {
  @include opensans;

  display: block;

  width: 10px;
  height: 10px;

  content: "*";

  color: $BLACK;

  font-size: 18px;
  line-height: 30px;
}

.form-group--name-data .form-group__wrapper {
  @include tablet {
    margin-bottom: 0;
  }
}

.form-group__input[id="surname-field"] {
  @include tablet {
    width: 515px;
  }
  @include desktop {
    width: 340px;
  }
}

.form-group__input[id="name-field"] {
  @include tablet {
    width: 555px;
  }
  @include desktop {
    width: 380px;
  }
}

.form-group__input[id="middle-name-field"] {
  @include tablet {
    width: 515px;
  }
  @include desktop {
    width: 340px;
  }
}

.form-group--name-data .form-group__input {
  margin-bottom: 16px;
}

.form-group--contacts-data {
  @include tablet {
    padding-top: 16px;
  }

  padding: 0;
  padding-top: 32px;
  padding-bottom: 27px;
}

.form-group--contacts-data .form-group__flag {
  left: 155px;
}

.form-group--contacts-data .form-group__wrapper {
  @include tablet {
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
    padding: 45px 60px 10px;
  }
  @include desktop {
    flex-direction: row;

    flex-wrap: wrap;

    padding: 45px 50px 10px;
  }
}

.form-group--contacts-data .form-group__heading {
  order: 1;
}

.form-group--contacts-data .form-group__label[for="phone-field"] {
  @include tablet {
    width: 80%;
    margin-bottom: 28px;
    padding-left: 25px;

    order: 3;
  }
  @include desktop {
    width: 50%;
    margin: 0;
    padding-left: 40px;
    order: 4;
  }

  order: 2;
}

.form-group--contacts-data .form-group__label + .form-group__inner {
  @include tablet {
    order: 2;
  }
  @include desktop {
    width: 375px;
    margin-right: 66px;
  }

  order: 3;
}

.form-group--contacts-data .form-group__label[for="email-field"] {
  @include tablet {
    width: 80%;
    padding-left: 25px;

    order: 5;
  }
  @include desktop {
    width: 50%;
    margin: 0;
    padding-left: 61px;
  }

  order: 4;
}

.form-group--contacts-data .form-group__label[for="email-field"] + .form-group__inner {
  @include tablet {
    order: 4;
  }
  @include desktop {
    width: 375px;
    margin-right: 0;

    order: 3;
  }

  order: 5;
}

.form-group--contacts-data .form-group__inner {
  @include tablet {

    &::after {
      position: absolute;
      top: 2px;
      right: 2px;

      display: block;

      width: 60px;
      height: 60px;

      content: "";

      background-color: $grey-dark;
    }
  }

  margin-bottom: 0;
}

.form-group__inner--phone::after {
  background: url("../img/icon-phone.svg") 50% 50% no-repeat;
}

.form-group__inner--email::after {
  background: url("../img/icon-mail.svg") 50% 50% no-repeat;
}

.form-group--contacts-data .form-group__inner .form-group__input {
  @include tablet {
    margin-bottom: 9px;
  }

  margin-bottom: 16px;
}

.form-group__inner--phone .form-group__input {
  padding-right: 80px;
}

.form-group__inner--email .form-group__input {
  padding-right: 80px;
}

.form-group__checkbox {
  display: none;
}

.form-group__checkbox:checked + .form-group__label::before {
  background: url("../img/icon-yes--red.svg") 50% 50% no-repeat;
}

.form-group--app-data {
  @include tablet {
    padding-top: 23px;
  }
  @include desktop {
    padding-top: 38px;
  }

  padding: 0;
  padding-top: 40px;
  padding-bottom: 9px;
}

.form-group--app-data .form-group__heading {
  margin-bottom: 30px;
}

.form-group--app-data .form-group__label::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 39px;
  height: 39px;

  content: "";

  border: 2px solid $grey-dark;
  border-radius: 50%;
}

.form-group--app-data .form-group__label:hover::before {
  border-color: $BLACK;
}

.form-group--app-data .form-group__label:active::before {
  border-color: $red;
}

.form-group__radio {
  display: none;
}

.form-group__radio:checked + .form-group__label::after {
  position: absolute;
  top: 12px;
  left: 12px;

  display: block;

  width: 15px;
  height: 15px;

  content: "";

  border-radius: 50%;
  background-color: $red;
}

.form-group__radio:checked + .form-group__label:active::after {
  display: none;
}

.form-group--feel-data .form-group__wrapper {
  @include tablet {
    margin-bottom: 0;
  }
}

.form-group--feel-data .form-group__heading {
  margin-bottom: 14px;
}

.form-group--feel-data {
  @include tablet {
    padding-bottom: 20px;
  }

  padding: 0;
  padding-top: 40px;
  padding-bottom: 10px;
}

.form-group--btn-data {
  @include tablet {
  }
  @include desktop {
    padding-bottom: 30px;
  }

  padding: 0;
  padding-top: 40px;
  padding-bottom: 10px;
}

.form-group--btn-data .form-group__heading {
  margin-bottom: 10px;
}

// ==========================================================================
// Modifiers
// ==========================================================================

.form-group--name-data {
  @include desktop {
    margin-right: 40px;
    padding-top: 44px;
  }

  padding: 0;
  padding-bottom: 25px;
}

.form-group--contacts-data .form-group__wrapper .form-group__heading {
  @include tablet {
    display: table;

    font-size: 14px;
  }

  display: none;
}

.form-group--dark {
  @include tablet {
    background-color: $WHITE;
  }

  background-color: $grey;
}

.form-group--dark .form-group__label {
  @include tablet {
    padding-left: 60px;
  }
  @include desktop {
    margin: 0;
  }

  margin-bottom: 45px;
  padding-left: 70px;

  text-transform: none;

  color: $BLACK;

  font-size: 18px;
  line-height: 40px;
}

.form-group--goals-data .form-group__label {
  @include desktop {
    width: 33.33%;
  }

  margin-bottom: 40px;
}

.form-group--app-data .form-group__wrapper {
  @include tablet {
    padding: 52px 66px 20px;
  }
  @include desktop {
    padding: 52px 77px 20px;
    padding-right: 125px;
  }
}

.form-group--app-data .form-group__label {
  display: block;

  margin-bottom: 35px;
}

.form-group--btn-data {
  @include tablet {
    @include clearfix;
  }

  text-align: center;
}

.form-group--name-data  .form-group__wrapper,
.form-group--btn-data  .form-group__wrapper {
  @include tablet {
    padding: 0;

    border: none;
  }
}

.form-group--contacts-data  .form-group__wrapper .form-group__heading {
  position: static;

  font-size: 0;
}

.form-group--btn-data  .btn--green {
  @include tablet {
    float: left;

    width: auto;
  }
  @include desktop {
    margin-bottom: 0;
  }

  margin-bottom: 40px;
}

.form-group__heading--ordinar-text {
  @include inlineblock(middle);
  @include tablet {
    position: static;

    float: right;

    min-width: 200px;
    margin-top: 22px;

    transform: none;
  }
  @include desktop {
    width: auto;
  }

  width: 200px;

  color: $BLACK;

  font: inherit;
  font-size: inherit;
}

.form-group__heading--ordinar-text sup {
  color: $red;
}

.form-group__heading--ordinar-text span {
  @include tablet {
  }
  @include desktop {
    display: inline;
  }

  display: none;
}

.form-group__input--text {
  @include desktop {
    height: 128px;
  }

  display: block;

  width: 100%;
  height: 200px;
  margin: 0 auto;

  resize: none;
}
