// ==========================================================================
// Block
// ==========================================================================
.form {

  @include tablet {

  }

  @include desktop {
    position: relative;
    @include container;
  }
}

.form form {
  display: flex;
  flex-direction: column;

  @include tablet {

  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

// ==========================================================================
// Elements
// ==========================================================================

.form__title {
  @include container;
  font: inherit;
  font-size: inherit;
  line-height: 30px;
  text-align: center;
  padding: 45px 0 34px;

  @include tablet {
    font-size: 18px;
    padding: 92px 25px 71px;
  }

  @include desktop {
    padding: 92px 0 40px;
  }
}

.form__title br {
  display: none;

  @include tablet {

  }

  @include desktop {

  }
}

.form__title span {
  display: none;

  @include tablet {
    display: inline;
  }
}
// ==========================================================================
// Modifiers
// ==========================================================================
