// ==========================================================================
// Block
// ==========================================================================
.form {
  padding: 0 20px;
}

// ==========================================================================
// Elements
// ==========================================================================

.form__title {
  font: inherit;
  font-size: inherit;
  line-height: 30px;
  text-align: center;
}

// ==========================================================================
// Modifiers
// ==========================================================================
