// ==========================================================================
// Block
// ==========================================================================

.gallery {
  display: flex;
  flex-direction: column;
}

// ==========================================================================
// Elements
// ==========================================================================

.gallery__header {
  @include container;

  padding: 0 15px;
}

.gallery__header-text,
.gallery__footer-text {
  margin: 0;

  text-align: center;

  font: inherit;
  font-size: inherit;
  line-height: 30px;
}

.gallery__header-text {
  @include tablet {
    padding: 92px 10px 76px;

    font-size: 18px;
  }
  @include desktop {
    padding: 92px 140px 88px;
  }

  padding: 47px 0;
}

.gallery__best-photo {
  position: relative;

  background-color: $blue-dark;
}

.gallery__best-photo img {
  display: block;

  width: 100%;
}

.gallery__content {
  @include container;

  font-size: 0;
}

.gallery__wrapper {
  display: flex;
  flex-direction: row;

  margin-right: -20px;

  flex-wrap: wrap;
}

.gallery__item {
  @include inlineblock;
  @include tablet {
    @include desktop {
      margin-bottom: 45px;
    }

    width: 300px;
    margin-right: 20px;
  }

  width: 280px;
  margin: 0;
  margin-bottom: 20px;

  background-color: #f2f2f2;
}

.gallery__image {
  @include tablet {
    width: 300px;
    height: 300px;
  }
  @include desktop {
    width: 300px;
    height: 400px;
  }

  position: relative;

  width: 280px;
  height: 180px;

  background-color: $blue-dark;
}

.gallery__description {
  @include tablet {
    padding: 25px 25px;
  }

  position: relative;

  display: flex;
  flex-direction: column;

  padding: 19px 15px 15px;

  background-color: $grey;
}

.gallery__description--best-foto {
  @include container;
  @include tablet {
    flex-direction: row;

    margin-bottom: 50px;
    padding: 24px 18px 14px 36px;

    flex-wrap: wrap;
  }

  position: relative;

  display: flex;

  margin-bottom: 24px;
}

.gallery__description--best-foto .gallery__user {
  @include tablet {
    width: 50%;

    order: 1;
  }
}

.gallery__description--best-foto .gallery__text {
  @include tablet {
    width: 100%;

    order: 3;
  }
  @include desktop {
    min-height: 0;
  }
}

.gallery__description--best-foto .gallery__likes {
  @include tablet {
    width: 50%;

    text-align: right;

    order: 2;
  }
}

.gallery__user {
  @include opensans(bold);

  font-size: 14px;
  line-height: 24px;
}

.gallery__date {
  @include opensans(light);

  text-transform: uppercase;

  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

.gallery__text {
  @include tablet {
    min-height: 48px;
  }

  margin: 0;
  margin-bottom: 10px;

  font: inherit;
  font-size: 14px;
  line-height: 24px;
}

.gallery__likes {
  @include tablet {
    padding: 0;

    justify-content: space-between;
  }

  display: flex;
  flex-direction: row;

  text-transform: uppercase;

  color: $red;

  font: inherit;
  font-size: 12px;
  line-height: 24px;

  align-items: center;
}

.gallery__likes--main {
  @include tablet {
    justify-content: flex-end;
  }
}

.gallery__likes--main .gallery__likes-link {
  @include tablet {
    margin-left: 20px;
  }
}

.gallery__likes-link {
  @include inlineblock(middle);
  @include tablet {
    margin-right: 0;

    order: 2;
  }

  width: 13px;
  height: 12px;
  margin-right: 20px;

  cursor: pointer;
  text-decoration: none;

  color: $red;
  background: url("../img/icon-heart.svg") 0 0 no-repeat;

  font: inherit;
  font-size: 0;

  order: 1;
}

.gallery__likes-text {
  @include tablet {
    order: 1;
  }

  order: 2;
}

.gallery__footer {
  @include container;
  @include tablet {
    padding: 23px 10px 28px;

    font-size: 18px;
  }
  @include desktop {
    padding: 2px 250px 6px;
  }
}

.gallery__footer-text {
  @include desktop {
    padding: 18px 0 0;
  }

  padding: 18px 0 41px;
}

// ==========================================================================
// Modifiers
// ==========================================================================

.gallery__item--active {
  width: 100%;
}
