// ==========================================================================
// Block
// ==========================================================================

.header-main {
  // background: url("../img/iphone-hand-mobile@1x.png") 0 100% no-repeat,
  //             url("../img/bg-back-mobile@1x.jpg") 0 100% no-repeat;
  background: url("../img/bg-back-mobile@1x.jpg") 0 100% no-repeat;
  color: $WHITE;
  background-color: $blue-nav;
  padding-bottom: 395px;
  margin-bottom: 266px;
  position: relative;

  @include tablet {
    // background: url("../img/iphone-hand-mobile@1x.png") 50% 100% no-repeat,
    //           url("../img/bg-back-mobile@1x.jpg") 0 100% no-repeat;
    background-color: $blue-nav;
    padding-bottom: 0;
    // padding-bottom: 620px;
    margin-bottom: 0;

  }

  @include desktop {
    // padding-bottom: 743px;
    background-size: cover;

  }
}

// ==========================================================================
// Elements
// ==========================================================================

.header-main__title {
  @include container;
  @include opensans(light);
  width: 280px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  padding: 30px 0 80px;
  text-align: center;
  margin: 0 auto;

  @include tablet {
    // width: 400px;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    // padding: 80px 0 145px;
  }

  @include desktop {

  }
}

.header-main__top {
  background-color: rgba($BLACK, 0.3);
  // padding: 0 20px;

  // background-color: rgba($blue-dark, 0.3);

  // background: url("../img/bg-back-mobile@1x.jpg") 0 100% no-repeat;
  // background-size: cover;
  @include tablet {

  }
  @include desktop {
    background-color: rgba($BLACK, 0.3);
  }
}

.header-main__top-wrapper {
  display: flex;
  flex-direction: column;

  @include desktop {
    @include container-fluid;
    // @include container;
    // @include clearfix;
    flex-direction: row;
    justify-content: space-between;
    padding: 44px 0 40px;
  }
}

.header-main__top-image {
  // padding-top: 110px;
  position: absolute;
  bottom: 0;
  width: 258px;
  height: 286px;

  @include tablet {
    width: 470px;
    height: 547px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include desktop {
    width: 555px;
    height: 645px;
  }
}

.header-main__top-image img{
  width: 258px;
  height: 286px;

  @include tablet {
    width: 470px;
    height: 547px;
}
  @include desktop {
    width: 555px;
    height: 645px;
  }
}
// ==========================================================================
// Modifiers
// ==========================================================================

.header-main--inner {
  background: $blue-nav url("../img/bg-back-mobile@1x.jpg") 0 100% no-repeat;
  padding: 0;
}
