// ==========================================================================
// Block
// ==========================================================================

.header-main {
  @include retina {
    background: $blue-nav url("../img/bg-back-mobile@2x.jpg") 0 100% no-repeat;
    background-size: 700px auto;
  }
  @include tablet {
    @include retina {
      background: $blue-nav url("../img/bg-back-tablet@2x.jpg") 0 100% no-repeat;
      background-size: 1200px auto;
    }

    margin-bottom: 0;
    padding-bottom: 0;

    background: $blue-nav url("../img/bg-back-tablet@1x.jpg") 0 100% no-repeat;
    background-color: $blue-nav;
  }
  @include desktop {
    @include retina {
      background: $blue-nav url("../img/bg-back-desktop@2x.jpg") 0 100% no-repeat;
      background-size: 2560px auto;
    }

    background: $blue-nav url("../img/bg-back-desktop@1x.jpg") 0 100% no-repeat;
    background-size: cover;
  }

  position: relative;

  margin-bottom: 266px;
  padding-bottom: 395px;

  color: $WHITE;
  background: $blue-nav url("../img/bg-back-mobile@1x.jpg") 0 100% no-repeat;
  background-color: $blue-nav;
}

// ==========================================================================
// Elements
// ==========================================================================

.header-main__title {
  @include container;
  @include opensans(light);
  @include tablet {
    padding: 69px 0 98px;

    text-align: center;

    font-size: 50px;
    line-height: 62px;
  }
  @include desktop {
    padding: 65px 0 98px;
  }

  width: 280px;
  margin: 0 auto;
  padding: 30px 0 80px;

  text-align: center;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.header-main__title--photo {
  @include tablet {
    padding: 69px 0 134px;
  }
  @include desktop {
    padding: 58px 0 97px;
  }
}

.header-main__title--form {
  @include tablet {
    padding: 68px 0 75px;
  }
  @include desktop {
    padding: 59px 0 96px;
  }

  padding: 30px 0 51px;
}

.header-main__top {
  @include desktop {
    background-color: rgba($BLACK, .3);
  }

  background-color: rgba($BLACK, .3);
}

.header-main__top-wrapper {
  @include desktop {
    @include container-fluid;

    flex-direction: row;

    padding: 34px 0 40px;

    justify-content: space-between;
    align-items: center;
  }

  display: flex;
  flex-direction: column;
}

.header-main__top-image {
  @include tablet {
    left: 50%;

    width: 700px;
    height: 545px;

    transform: translateX(-50%);
  }
  @include desktop {
    width: 1050px;
    height: 645px;
  }

  position: absolute;
  bottom: 0;

  width: 258px;
  height: 286px;
}

.header-main__top-image img {
  @include tablet {
    width: 700px;
    height: 545px;
  }
  @include desktop {
    width: 1050px;
    height: 645px;
  }

  width: 258px;
  height: 286px;
}

// ==========================================================================
// Modifiers
// ==========================================================================

.header-main--inner {
  margin: 0;
  padding: 0;
}
