// ==========================================================================
// Block
// ==========================================================================

.logo {
  padding: 17px 20px 20px;
  box-shadow: 0 1px 0 black;
  margin-bottom: 1px;

  @include tablet {
    padding: 27px 40px 40px;
  }

  @include desktop {
    float: left;
    width: 150px;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
}


// ==========================================================================
// Elements
// ==========================================================================

// ==========================================================================
// Modifiers
// ==========================================================================
