// ==========================================================================
// Block
// ==========================================================================

.map {

}

// ==========================================================================
// Elements
// ==========================================================================

.map__title {

}

.map__container {
  background: #eae6dd url("../img/bg-map-mobile@1x.png") 50% 100% no-repeat;
  min-height: 200px;

  @include tablet {
    min-height: 365px;
  }

  @include desktop {
    min-height: 483px;
  }
}

.map__container img {
  height: 200px;
  display: block;
  margin: 0 auto;
}
// ==========================================================================
// Modifiers
// ==========================================================================
