// ==========================================================================
// Block
// ==========================================================================
.nav-main {
  @include desktop {
    float: right;

    width: 770px;
  }

  position: relative;
}

// ==========================================================================
// Elements
// ==========================================================================

.nav-main__toggle {
  @include tablet {
    top: -66px;
    right: 40px;
  }

  position: absolute;
  z-index: 2;
  top: -46px;
  right: 20px;

  display: block;

  width: 50px;
  height: 24px;
  padding: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background: none;
  background-color: transparent;

  font-size: 0;

  &:active {
    outline: none;
  }
}

.nav-main--closed .nav-main__toggle::before {
  @include desktop {
    display: none;
  }

  position: absolute;
  top: 0;

  display: block;

  width: 50px;
  height: 4px;

  content: "";

  background-color: $WHITE;
  box-shadow: 0 10px 0 0 $WHITE,
  0 20px 0 0 $WHITE;
}

.nav-main--closed .nav-main__toggle:hover::before {
  background-color: $red;
  box-shadow: 0 10px 0 0 $red,
  0 20px 0 0 $red;
}

.nav-main--closed .nav-main__toggle:active::before {
  outline: none;
  background-color: rgba($red, .3);
  box-shadow: 0 10px 0 0 rgba($red, .3),
  0 20px 0 0 rgba($red, .3);
}

.nav-main--opened .nav-main__toggle {
  @include tablet {
    top: -50px;
  }
  @include desktop {
    display: none;
  }

  top: -35px;

  &::before,
  &::after {
    @include tablet {
      left: 42px;
    }

    position: absolute;
    top: -4px;
    left: 25px;

    display: block;

    width: 28px;
    height: 4px;

    content: "";

    background-color: $WHITE;
  }

  &::before {
    transform: rotate(45deg);

    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $red;
  }

  &:active::before,
  &:active::after {
    background-color: rgba($red, .3);
  }
}

.nav-main__list {
  @include desktop {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 0;
}

.nav-main__item {
  @include color($blue-nav, $WHITE);
  @include opensans(bold);
  @include desktop {
    @include inlineblock(middle);
    @include opensans;

    margin-left: 80px;

    text-transform: none;

    background-color: transparent;

    font-size: 18px;
    line-height: 18px;
  }

  text-transform: uppercase;

  font-size: 18px;
  line-height: 32px;
}

.nav-main__link {
  @include color(transparent, $WHITE);
  @include desktop {
    padding: 0;

    box-shadow: none;

    font-size: 18px;
    line-height: 18px;
  }

  display: block;

  margin-bottom: 1px;
  padding: 14px 0 17px;

  text-align: center;
  text-decoration: none;

  box-shadow: 0 1px 0 black, inset 0 1px 0 rgba(255, 255, 255, .15);

  font-size: inherit;
  line-height: 32px;

  &:hover {
    color: $red;
  }

  &:active {
    color: rgba($WHITE, .3);
  }
}

.nav-main--closed .nav-main__list {
  @include desktop {
    display: flex;
  }

  display: none;
}

.nav-main--nojs .nav-main__toggle {
  display: none;
}

.nav-main--nojs .nav-main__list {
  display: block;
}

// ==========================================================================
// Modifiers
// ==========================================================================

.nav-main__item--active .nav-main__link {
  cursor: default;
  text-decoration: underline;

  &:hover {
    color: $WHITE;
  }

  &:active {
    color: $WHITE;
  }
}
