// ==========================================================================
// Block
// ==========================================================================
.offer {
  @include tablet {
    padding: 83px 0 71px;
  }
  @include desktop {
    padding: 149px 0 96px;
  }

  position: relative;

  overflow: hidden;

  padding: 469px 0 0;

  background: $grey url("../img/bg-triangle-white.svg") 0 0 no-repeat;
  background-size: 100%;
}

// ==========================================================================
// Elements
// ==========================================================================



.offer__container {
  @include tablet {
    @include container;
  }
}

.offer__container .slider__input[id="offer-input-1"]:checked ~ .offer__list .offer__table {
  left: 20px;

  transform: none;
}

.offer__container .slider__input[id="offer-input-2"]:checked ~ .offer__list .offer__table {
  left: 50%;

  transform: translateX(-50%);
}

.offer__container .slider__input[id="offer-input-3"]:checked ~ .offer__list .offer__table {
  left: -540px;

  transform: none;
}

.offer__container .slider__input[id="offer-input-1"]:checked ~ .offer__toggles .slider__toggle[for="offer-input-1"] {
  border-color: $BLACK;
}

.offer__container .slider__input[id="offer-input-2"]:checked ~ .offer__toggles .slider__toggle[for="offer-input-2"] {
  border-color: $BLACK;
}

.offer__container .slider__input[id="offer-input-3"]:checked ~ .offer__toggles .slider__toggle[for="offer-input-3"] {
  border-color: $BLACK;
}

.offer__table {
  @include tablet {
    position: static !important;

    display: block;

    width: auto;

    transform: none !important;
  }
  @include desktop {
  }

  position: absolute;
  bottom: 109px;

  width: 840px;

  transition: all .5s;

  border-collapse: collapse;
}

//DESTROY TABLE
.offer__table tbody {
  @include tablet {
    display: block;
  }
  @include desktop {
  }
}

.offer__table tr {
  @include tablet {
    display: block;

    margin-bottom: -2px;
  }
  @include desktop {
  }
}

.offer__table-header {
  @include tablet {
    margin-left: 156px;
  }
  @include desktop {
    margin-left: 233px;
  }
}

.offer__table-header th {
  @include color($blue-nav, $WHITE);

  position: relative;
}

.offer__table-header th,
.offer__table-header tr,
.offer__table-header td {
  border: 2px solid $grey-dark;
}

.empty-cell {
  border: none;
}

.offer__table tr td:nth-child(2n+3) {
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.offer__table-header th {
  @include tablet {
    width: 153px;
    padding: 10px;
  }
  @include desktop {
    width: 235px;
    padding: 19px;
  }

  width: 140px;
  padding: 20px;

  text-align: center;

  border: 2px solid $grey-dark;
}

.offer__heading {
  @include opensans(bold);
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 18px;
  }

  margin: 0;

  text-transform: uppercase;

  font-size: 18px;
  line-height: 30px;
}

.offer__heading--empty {
  border: none;
  background-color: transparent;
}

.offer__price {
  @include opensans(light);
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 24px;
  }

  text-transform: uppercase;

  font-size: 24px;
  line-height: 30px;
}

.offer__price--empty {
  border: none;
  background-color: transparent;
}

.offer__option {
  @include tablet {
    width: 156px;
    padding: 7px;
    padding-left: 20px;

    text-transform: none;

    font-size: 14px;
  }
  @include desktop {
    width: 238px;
    padding: 14px;

    font-size: 18px;
  }

  width: 210px;
  padding: 12px;
  padding-left: 20px;

  text-transform: uppercase;

  border: 2px solid $grey-dark;
  background-color: $WHITE;

  font: inherit;
  font-size: inherit;
  line-height: 30px;
}

.offer__option-status {
  @include tablet {
    width: 153px;
  }
  @include desktop {
    width: 238px;
  }

  width: 70px;

  text-align: center;
  vertical-align: bottom;

  border: 2px solid $grey-dark;
  background-color: $WHITE;

  font-size: 0;
}

.offer__option-status img {
  display: inline-block;
}

.offer__toggles {
  @include tablet {
    display: none;
  }

  bottom: 35px;

  font-size: 0;
}

// ==========================================================================
// Modifiers
// ==========================================================================
