// ==========================================================================
// Block
// ==========================================================================

.promo {

  // padding: 40px 20px;
}

// ==========================================================================
// Elements
// ==========================================================================

.promo__title {

}

.promo__heading {
  padding: 40px 57px;
}

.promo__list {
  @include color($grey, $BLACK);
  background: $grey url("../../img/iphone-screen-mobile@1x.png") 50% 100% no-repeat;
  position: relative;
  padding: 55px 20px 320px;
  margin: 0;
  list-style: none;
  text-align: center;

    &::before {
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-color: rgba(255, 255, 255, 0);
      border-style: solid;
      border-width: 20px 100px;
      border-right-color: #92c100;
      position: absolute;
      bottom: 100%;
      right: 0;
      margin-bottom: -20px;
   }
}

.promo__item {
  @include opensans(bold);
  font-size: 18px;
  line-height: inherit;
  color: inherit;
  margin-bottom: 20px;
}

.promo__item p {
  @include opensans;
  font-size: 14px;
  line-height: inherit;
  color: inherit;
  margin-bottom: 40px;
}

// ==========================================================================
// Modifiers
// ==========================================================================
