// ==========================================================================
// Block
// ==========================================================================

.promo {
  position: relative;
}

// ==========================================================================
// Elements
// ==========================================================================



.promo__heading {
  @include container;
  @include tablet {
    padding: 47px 0 40px;
  }
  @include desktop {
    padding: 65px 0 60px;
  }

  padding: 45px 35px 0;
}

.promo__wrapper {
  @include color($grey, $BLACK);
  @include tablet {
    padding-top: 5px;
  }

  position: relative;
  // background: $grey url("../img/bg-triangle-white.svg") 0 -70px no-repeat;

  background: $grey url("../img/bg-triangle-white.svg") 0 0 no-repeat;
  background-size: 100%;
}

.promo__list {
  @include retina {
    background: url("../img/iphone-screen-mobile@2x.png") 50% 109% no-repeat;
    background-size: 157px auto;
  }
  @include tablet {
    @include container;
    @include retina {
      background: url("../img/iphone-screen-3-tablet@2x.png") 0 100% no-repeat;
      background-size: 268px auto;
    }

    padding: 70px 0 15px;
    padding-left: 317px;

    text-align: left;

    background: url("../img/iphone-screen-3-tablet@1x.png") 0 100% no-repeat;
  }
  @include desktop {
    display: flex;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

    background: none;

    justify-content: space-between;
  }

  margin: 0;
  padding: 79px 20px 284px;

  list-style: none;

  text-align: center;

  background: url("../img/iphone-screen-mobile@1x.png") 50% 109% no-repeat;

  font-size: 0;
}

.promo__item {
  @include opensans(bold);
  @include tablet {
    width: 310px;
  }
  @include desktop {
    @include inlineblock;

    width: 280px;
    margin-bottom: 25px;
    padding-top: 360px;
    padding-right: 20px;
    padding-left: 20px;

    text-align: center;

    font-size: 30px;
    line-height: 35px;
  }

  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  color: inherit;

  font-size: 18px;
  line-height: inherit;
}

.promo__item--bg-mood {
  @include desktop {
    @include retina {
      background: url("../img/iphone-screen-1-desktop@2x.png") 0 0 no-repeat;
      background-size: 292px auto;
    }

    background: url("../img/iphone-screen-1-desktop@1x.png") 0 0 no-repeat;
  }
}

.promo__item--bg-peace {
  @include desktop {
    @include retina {
      background: url("../img/iphone-screen-2-desktop@2x.png") 0 0 no-repeat;
      background-size: 292px auto;
    }

    background: url("../img/iphone-screen-2-desktop@1x.png") 0 0 no-repeat;
  }
}

.promo__item--bg-friends {
  @include desktop {
    @include retina {
      background: url("../img/iphone-screen-3-desktop@2x.png") 0 0 no-repeat;
      background-size: 292px auto;
    }

    background: url("../img/iphone-screen-3-desktop@1x.png") 0 0 no-repeat;
  }
}

.promo__item p {
  @include opensans;
  @include desktop {
    font-size: 18px;
    line-height: 30px;
  }

  margin-bottom: 30px;

  color: inherit;

  font-size: 14px;
  line-height: inherit;
}

// ==========================================================================
// Modifiers
// ==========================================================================
