// ==========================================================================
// Block
// ==========================================================================

.range {
  position: relative;

  width: 240px;
  margin: 0 auto;

  font-size: 0;

  @include tablet {
    width: 202px;
  }

  @include desktop {
    width: 288px;
  }
}

// ==========================================================================
// Elements
// ==========================================================================

.range__scale {
  height: 2px;

  background-color: $blue-nav;
}

.range__toggle {
  position: absolute;
  top: 50%;
  left: 20px;

  width: 14px;
  height: 14px;
  margin-top: -7px;

  border: 2px solid $red;
  border-radius: 50%;
  background-color: $grey;
}

// ==========================================================================
// Modifiers
// ==========================================================================
