// ==========================================================================
// Block
// ==========================================================================

.slider {
  position: relative;

}

// ==========================================================================
// Elements
// ==========================================================================

.slider__input {
  display: none;

}

.slider__item {

}

.slider__toggles {
  position: absolute;
  left: 50%;
  margin-left: -31px;
}

.slider__toggle {
  @include inlineblock;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border: 3px solid transparent;
  border-radius: 50%;
  margin-right: 13px;
  background-clip: content-box;
  box-sizing: content-box;

  &:hover {
    border-color: #000;
  }
}

.slider__toggle-arrow svg{
  display: none;
  fill: rgba($BLACK, 0.3);

    &:hover {
      fill: rgba($BLACK, 0.6);
    }

    &:active {
      fill: rgba($BLACK, 0.1);
    }

  @include desktop {
    position: absolute;
    top: -230px;
    display: block;
    width: 22px;
    height: 41px;
  }

}

.slider__toggle-arrow--left svg{
  left: -435px;
}

.slider__toggle-arrow--right svg{
  right: -510px;
}
// ==========================================================================
// Modifiers
// ==========================================================================

.slider__item--2 {
  display: none;
}

.slider__item--3 {
  display: none;
}
