// ==========================================================================
// Block
// ==========================================================================

.social-link {
  @include inlineblock;
  width: 51px;
  height: 51px;
  border: 3px solid rgba($blue-nav, 0.3);
  border-radius: 50%;
  margin-right: 12px;

    &:hover {
      border-color: $blue-nav;
    }

    &:active {
      opacity: 0.1;
    }
}

// ==========================================================================
// Elements
// ==========================================================================

// ==========================================================================
// Modifiers
// ==========================================================================

.social-link--tw {
  background: url("../img/icon-twitter.svg") 50% 50% no-repeat;
}

.social-link--fb {
    background: url("../img/icon-facebook.svg") 50% 50% no-repeat;
}

.social-link--yt {
    background: url("../img/icon-youtube.svg") 50% 50% no-repeat;

}
